{{ define "main" }}

<h1>About</h1>

<p>
  A scratchpad where I document my experiments with whatever tech I'm currently interested in. Bias towards
  documenting my findings
  and getting stuff down over writing highly polished "content". <a href="about/">(more)</a>
</p>
<br />

<h1>Latest posts</h1>

<div class="posts-list">
  {{ with .Site.GetPage "/posts" }}
  {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
  <div class="post">
    <p>
    <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
    <h1>
      <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
    </h1>
    {{ .Summary }}
    </p>
  </div>
  {{ end }}
  {{ end }}
</div>

{{ end }}
